/* Main body styling. */
body {
    background-image: url("../img/background.png");
    margin: 0;
    padding: 0;
}

/* Set font family, color, and animations for all text. */
p {
    color: #f2f2f2;
    font-family: "Titillium", sans-serif;
    text-align: center;
    animation-name: appear;
    animation-duration: 1s;
}

/* Ensure links always appear the same color. */
a, a:visited, a:link, a:active {
    color: #f2f2f2;
}

/* Change link color slightly during hover. */
a:hover {
    color: #737373;
}

/* Change color of text selection to a dark gray. */
p::selection, p::-moz-selection {
    background: #404040;
}

/* Center element vertically and horizontally. */
.centered {
    position: fixed;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

/* Set font size for title. */
#title {
    font-size: 4em;
}

/* Set font size for links. */
.links {
    font-size: 1em;
}

/* Set font size for slogan. */
#slogan {
    font-size: 2em;
}

/* Fade-in animation. */
@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}